:root {
  --text-color: #1a1c20;
  --link-color: #5971b3;
  --background-color: #eeeff1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}
/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height:80px;
    align-items: center;
}
nav .left a{
    color: var(--text-color);
    font-size:22px;
    font-weight: 600;
}
nav .right a{
    color: var(--text-color);
    margin:0 10px;
}
nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding:5px 15px;
    border-radius:5px;
}
nav .right a span{
    margin: 5px;
}

/*hero section*/
.hero-section{
    display:flex;
    padding: 0 50px;
    margin:50px 0;
    margin-bottom: 100px;
    align-items:center;
    gap: 40px; 
}
.hero-section .text{
    flex :5;
}
.hero-section .mypic{
    flex:2;
}
.hero-section .mypic img{
    height: 350px;
    width:350px;
    border-radius: 50%;
    background-color: rgb(202, 204, 145);
}
.hero-section .text h2{
    font-size: 45px;
}
.hero-section .text .links{
    margin-top: 20px;
}
.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition:.3s;
}
.hero-section .text .links a:hover{
    color: rgb(78, 78, 57);
    border: 2px solid rgb(78, 78, 57);
}

/*skill section*/
.skills-section{
    padding:0 50px;
    margin-bottom: 100px;
}
.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .cells{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 20px;
}
.skills-section .cells .cell{
    padding: 1rem;
    cursor: pointer;
    color: rgb(84, 109, 36);
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
}
.skills-section .cells .cell span{
    padding: 5px;
    margin-top: 20px;
}

.skills-section .cells .cell img{
    width:80px;
}

/*Contact Section*/
.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.contact-section h2{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.contact-section .contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-section .contact-form form label{
    margin-left: 10px;
    margin-bottom: 8px;
    font-size: medium;
}

.contact-section .contact-form form input,
.contact-section .contact-form form textarea{
    border : solid 2px var(--link-color);
    background-color: rgb(235, 235, 217);
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: none;
    border-radius: 10px;
}

.contact-section .contact-form form button{
    font-family:sans-serif;
    font-weight: 550;
    font-size: large;
    background-color: #5971b3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    cursor: pointer;
    height: 50px;
    transition: .1s;
} 
.contact-section .contact-form form button:hover{
    filter: brightness(.9);
}


@media(max-width: 600px){
    /*nav bar*/
    nav{
        padding: 0 20px;
    }
    nav .right a span{
        display:none;
    }
    nav .right a{
        font-size: 22px;
    }
    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    /*hero section*/
    .hero-section{
        padding: 0 20px;
    }
    .hero-section .text h2{
        font-size: 30px;
    }
    
}

@media (max-width: 850px) {
    /*hero section*/
    .hero-section .text h2{
        font-size: 35px;
    }

}

@media (max-width: 740px) {
    /*hero section*/
    .hero-section {
        flex-direction: column-reverse;
    }
    .hero-section .mypic img {
        width: 250px;
        height: 250px;
    }

}